<div class="hero-unit">
  <h1>Welcome to Bookkeeper</h1>
  <p>Bookkeeper is an attempt to make it easier for you to manage your personal finance!</p>
</div>

<div class="row-fluid">
  <div class="span9">
    <p>Please login to continue</p>
  </div>
</div>